@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');

@bodyFont: "Source Sans Pro", sans-serif !important;

body {
  font-family: @bodyFont;
}

section {
  h1 {
    text-transform: none !important;
    font-weight: bold !important;
  }

  &#title-slide {
    h1 {
      color: white !important;
      font-size: 48pt !important;
    }
  }

  &.slide {
    h1 {
      color: red !important;
    }
  }
}

.author {
  font-weight: normal;
  font-size: 32pt;
}

section {
  font-weight: normal;
  font-size: 24pt;
}

  
